<nav>
			<ul>
				<li><a href="{{site.baseurl}}/assignment_doodles.html" class="{% if page.url == '{{site.baseurl}}/assignment_doodles.html' %}current{% endif %}">Assignment 1 - Doodles</a></li>
				<li><a href="{{site.baseurl}}/assignment_led_light_painting.html" class="{% if page.url == '{{site.baseurl}}/assignment_led_light_painting.html' %}current{% endif %}">Assignment 2 - Part 1: Led Light Painting</a></li>
				<li><a href="{{site.baseurl}}/assignment_sensor_reading.html" class="{% if page.url == '{{site.baseurl}}/assignment_sensor_reading.html' %}current{% endif %}">Assignment 2 - Part 2: Sensor reading</a></li>
				<li><a href="{{site.baseurl}}/assignment_2D Design_part1.html" class="{% if page.url == '{{site.baseurl}}/assignment_2D Design_part1.html' %}current{% endif %}">Assignment 3 - Part 1: 2D Design</a></li>
				<li><a href="https://sushantojal.github.io/laser_cuts/">Assignment 3 - Part 2: 2D Fabrication</a></li>
				<li><a href="{{site.baseurl}}/assignment_mouse.html" class="{% if page.url == '{{site.baseurl}}/assignment_2D Design_part1.html' %}current{% endif %}">Assignment 4 - Part 1: 3D Design and Render a Mouse</a></li>
				<li><a href="https://sushantojal.github.io/3dprinting/">Assignment 4 - Part 2: 3D Fabrication</a></li>
			</ul>
</nav>

